/*275954*/
*{
    margin: 0px;
    padding: 0px;
    background-color: #757FB2;
    color: #5E183A;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 32px;
}

.logo{
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 80px;
}

.contenido{
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Quicksand';
}

::placeholder{
    color: #5E183A;
    text-transform: initial;
    font-family: 'Delius';
    font-size: 32px;
}
.texto:focus{
    outline: none;
}

.texto{
    border: none;
    color: #5E183A;
    text-transform: lowercase;
    font-family: 'Quicksand';
    width: 650px;
    height: 500px;
}

.icono-atencion{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.nota{
    font-size: 14px;
    font-family: 'Quicksand';
    font-weight: bold;
}

.btnEncriptar{
    width: 200px;
    height: 47px;
    font-family: 'Quicksand';
    font-size: 16px;
    color: #757FB2;
    border-color: #5E183A;
    border-style: solid;
    border-radius: 20px;
    background-color: #5E183A;
    bottom: 75px; 
}

.btnDesencriptar{
    width: 200px;
    height: 47px;
    font-family: 'Quicksand';
    font-size: 16px;
    color: #5E183A;
    border-color: #5E183A;
    border-style: solid;
    border-radius: 20px;
    background-color: #757FB2;
    bottom: 75px; 
}

.textoEncriptado:focus{
    outline: none;
}

.textoEncriptado {
    position: relative;
    border: none;
    border-radius: 32px;
    background-color: #275954;
    background-image: url(/src/img/Mujer.png);
    background-repeat: no-repeat;
    background-position: center top 55px;
    padding-top: 55px;
    background-size: 60%;
    color: #5E183A;
    margin-right: 10px;
    margin-left: 373px;
    margin-top: -95px;
    padding: 10px;
    padding-top: 30px;
    width: 400px;
    height: 680px;
    font-family: 'Quicksand';
}

.btnCopiar {
    width: 200px;
    height: 47px;
    font-family: 'Quicksand';
    font-size: 16px;
    color: #5E183A;
    border-color: #5E183A;
    border-style: solid;
    border-radius: 20px;
    background-color: #757FB2;
    position: absolute; 
    bottom: 165px;
    left: 50%; 
    margin-left: 440px; 
}

.container-footer{
    display: flex;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 5px;
    background-color: #5E183A;
    color: #757FB2;
    align-items: center; 
    justify-content: center;
}

.texto-footer{
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: bold;
    color: #757FB2;
    background-color: #5E183A;
}

.logo2{
    background-color: #5E183A;
    margin-left: 40px;
    width: 75px;
    height: 65px;
}

ul{
    display: flex;
    list-style: none;
    background-color: #5E183A;
}

li{
    background-color: #5E183A;
}

div.icon-container{
    display: flex;
    margin-right: 0px;
    margin-left: 40px;
    background-color: #5E183A;
    align-items: center; 
    color: #757FB2;
}

svg {
    background-color: #5E183A;
}

a{
    background-color: #5E183A;
}

label {
    font-size: 15px;
    font-family: 'Quicksand';
    font-style: italic;
    color: #757FB2;
    width: 300px;
    border: none;
    background-color: rgba(117, 127, 178, 0); 
    position: absolute; 
    bottom: 220px;
    left: 60%; 
    margin-left: 440px; 
    transform: translateX(-50%); /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
    display: none; /* Oculta inicialmente */
    z-index: 1000; /* Asegura que el label esté por encima de otros elementos */
}

/* Agregar hoover
Agregar que se vea el puntero */